<% layout('layouts/cjboilerplate') %>

<style>
    a {
        color: #D500F9;
    }

    .input-container {
        display: flex;
    }

    ::placeholder {
        color: #757575;
        opacity: 1;
    }

    .search-input {
        background: #EEEEEE;
        color: #212121;
        vertical-align: middle;
        font-size: 16px;
        line-height: 2;
        padding: 10px 20px;
        border: 0;
        outline: none;
    }

    .search-submit {
        background: #D500F9;
        color: #FFFFFF;
        vertical-align: middle;
        padding: 0 20px;
        border: 0;
        outline: none;
        cursor: pointer;
    }

    .search-submit:hover {
        background: #AB47BC;
    }

    .search-submit i {
        font-size: 24px;
    }
</style>


<div class="row align-items-center justify-content-center">
    <div class="col-6 align-items-center justify-content-center">
        <form role="search" method="get" action="/cj/linksearch">
            <div class="input-container">
                <input type="search" class="search-input" value="" name="keywords" placeholder="Search for links" />
                <button type="submit" class="search-submit"><i class="material-icons">Search
                        Links</i></button>
            </div><!-- input-container -->
        </form><!-- searchform -->
    </div>
    <div class="col-6 align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <a
                href="http://www.jdoqocy.com/click-101224178-15841657?url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CWNJSHW7%3Fmaas%3Dmaas_adg_api_587839875026247102_static_12_45%26ref_%3Daa_maas%26tag%3Dmaas%26aa_campaignid%3D1259d79b1f8ec53dc35271296ffbb763%26aa_adgroupid%3D750fJkIWvren9RuZM2gdNdYApFSEs2IGg_bAfVrWB6Ow9CSdO5QhY_a5DfZtAlz1VoBhm8BmrvC_bLs1h1tdVjSo58U%26aa_creativeid%3D8c0dU8Qwn4E85ZfzRlrScCp55QVtFgAhD0GwN_bL2CuWeXsA_c&sid=">
                <img src="https://m.media-amazon.com/images/I/61DECEqCmYL._AC_SL1500_.jpg" class="card-img-top"
                    alt="https://m.media-amazon.com/images/I/61DECEqCmYL._AC_SL1500_.jpg">
            </a>
            <div class="card-body">
                <h5 class="card-title">Amazon affiliate link</h5>
                <p class="card-text">Lets see if I can click links</p>
                <a href="http://www.jdoqocy.com/click-101224178-15841657?url=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB0CWNJSHW7%3Fmaas%3Dmaas_adg_api_587839875026247102_static_12_45%26ref_%3Daa_maas%26tag%3Dmaas%26aa_campaignid%3D1259d79b1f8ec53dc35271296ffbb763%26aa_adgroupid%3D750fJkIWvren9RuZM2gdNdYApFSEs2IGg_bAfVrWB6Ow9CSdO5QhY_a5DfZtAlz1VoBhm8BmrvC_bLs1h1tdVjSo58U%26aa_creativeid%3D8c0dU8Qwn4E85ZfzRlrScCp55QVtFgAhD0GwN_bL2CuWeXsA_c&sid="
                    class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

<div class="row align-items-center justify-content-center my-5 py-5">

    <div class="col-4 align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <a href="<%=mockCJurl%>/api/click?publisherID=1&destinationURL=<%=mockCJurl%>">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1609372332255-611485350f25?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">Publisher Link 1</h5>
                <p class="card-text">This is a mock link to my website from publisher 1</p>
                <a href="<%=mockCJurl%>/api/click?publisherID=1&destinationURL=<%=mockCJurl%>"
                    class="btn btn-primary">PaperPokemon</a>
            </div>
        </div>
    </div>

    <div class="col-4 align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <a href="<%=mockCJurl%>/api/click?publisherID=2&destinationURL=<%=mockCJurl%>">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1640271443625-3276ed8f62b5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">Publisher Link 2</h5>
                <p class="card-text">This is a mock link to my website from publisher 2</p>
                <a href="<%=mockCJurl%>/api/click?publisherID=2&destinationURL=<%=mockCJurl%>"
                    class="btn btn-primary">PaperPokemon</a>
            </div>
        </div>
    </div>

    <div class="col-4 align-items-center justify-content-center">
        <div class="card" style="width: 18rem;">
            <a href="<%=mockCJurl%>/api/click?publisherID=3&destinationURL=<%=mockCJurl%>">
                <img class="card-img-top"
                    src="https://www.hallmark.com/dw/image/v2/AALB_PRD/on/demandware.static/-/Sites-hallmark-master/default/dw46369d18/images/finished-goods/products/1899QXI6319/Pokmon-Blastoise-Keepsake-Ornament_1899QXI6319_01.jpg?sw=570&sh=758&sm=fit&q=65"
                    alt="Card image cap">
            </a>
            <div class="card-body">
                <h5 class="card-title">Publisher Link 3</h5>
                <p class="card-text">This is a mock link to my website from publisher 3</p>
                <a href="<%=mockCJurl%>/api/click?publisherID=3&destinationURL=<%=mockCJurl%>"
                    class="btn btn-primary">PaperPokemon</a>
            </div>
        </div>
    </div>

</div>




<!--
<div class="col-6 align-items-center justify-content-center">
    
        <a href="https://www.tkqlhce.com/click-101224178-10754877" target="_top">
            <img src="https://www.ftjcfx.com/image-101224178-10754877" width="160" height="600"
                alt="Generate Instant Publicity. Get Your News to Consu" border="0" /></a>
        <script type="text/javascript" language="javascript"
            src="https://www.kqzyfj.com/placeholder-55146398?target=_top&mouseover=N"></script>
    </div>
-->