<% layout('layouts/boilerplate') %>

<div class="row align-items-center justify-content-center">
    <div class="col-6 align-items-center justify-content-center">



        <div class="card">

            <div class="card-body">
                <h5 class="card-title">DB User Name: <%= foundauditLog.dbusername%></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Object: <%= foundauditLog.object %></li>
                <li class="list-group-item">Verb: <%= foundauditLog.verb%></li>
                <li class="list-group-item">Server IP: <%= foundauditLog.serverIP%></li>
                <li class="list-group-item">Client IP: <%= foundauditLog.clientIP%></li>
                <li class="list-group-item">Full SQL: <%= foundauditLog.sql%></li>

            </ul>
            <div class="card-body">
                <a href="/audit_logs/" class="card-link btn btn-primary">All Logs</a>



                <form class="card-link ml-5 pl-5 d-inline" action="/audit_logs/delete/<%= foundauditLog._id%>"
                    method="get">
                    <button class="card-link btn btn-danger d-inline">Delete</button>
                </form>

            </div>
            <div class=" card-footer text-muted ">
                Logged On: <%= foundauditLog.timeLogged%> <br><br>
                Activity Timestamp: <%= foundauditLog.timestamp %>
            </div>
        </div>
    </div>


</div>