<% layout('layouts/boilerplate') %>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0">Manage Service Now Users</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">UUID</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Last Login</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Email</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Added</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                            </tr>
                        </thead>
                        <tbody>

                            <%  for (let user = 0; user< users.length; user++) { %>
                            <tr>
                                <td class="pl-4"><%=user%></td>
                                <td>
                                    <h5 class="font-medium mb-0"><%=users[user].user_name %></h5>

                                </td>
                                <td>

                                    <span class="text-muted"><%=users[user].last_login_time %></span>
                                </td>
                                <td>
                                    <span class="text-muted"><%= users[user].email %></span><br>
                                    <span class="text-muted"><%= users[user].phone%></span>
                                </td>
                                <td>
                                    <span class="text-muted"><%= users[user].sys_created_on.split(" ")[0]%></span><br>
                                    <span class="text-muted"><%= users[user].sys_created_on.split(" ")[1]%></span>

                                </td>

                                <td>

                                    <button onclick="window.location='/users/get/<%=users[user].sys_id%>';"
                                        type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-edit"></i>
                                    </button>
                                    <button type="button"
                                        class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                            class="fa fa-trash"></i> </button>


                                </td>
                            </tr>
                            <% }%>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>