<% layout('layouts/boilerplate') %>

<div class="row align-items-center justify-content-center">
    <div class="col-6 align-items-center justify-content-center">



        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Name: <%= user.name%></h5>
                <p class="card-text">User Name: <%= user.user_name%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">User ID: <%= user.sys_id %></li>
                <li class="list-group-item">Email: <%= user.email%></li>
                <li class="list-group-item">Phone: <%= user.phone%></li>
                <li class="list-group-item">Active: <%= user.active%></li>

            </ul>
            <div class="card-body">
                <a href="/users/" class="card-link btn btn-primary">All Users</a>

                <!-- NEEDS TO BE DELETED -->


                <!-- <h5>user owns this post</h5> -->
                <a href="https://dev204219.service-now.com/" class="card-link btn btn-warning">Login to Service Now</a>
                <a href="https://dev204219.service-now.com/login.do?user_name=<%=user.user_name%>&user_password=<%=user.photo%>&sys_action=sysverb_login"
                    class="card-link btn btn-warning">Login to Service Now</a>
                <form class="card-link ml-5 pl-5 d-inline" action="/users/delete/<%= user.sys_id%>" method="get">
                    <button class="card-link btn btn-danger d-inline">Delete</button>
                </form>

            </div>
            <div class=" card-footer text-muted ">
                Last updated by: <%= user.sys_updated_by%><br>
                On: <%= user.sys_updated_on%> <br><br>
                Created By: <%= user.sys_created_by%><br>
                On: <%= user.sys_created_on %>
            </div>
        </div>
    </div>


</div>